<extend name="Layout:ly2" />

<block name="body">
	<div class="box">
        
        <div style="margin-top:45px;">
            <ul class="infor">
                <a href="#"><li class="underline">资讯</li></a>
                <a href="#"><li>技术</li></a>
                <a href="#"><li>专家</li></a>
                <div class="clear"></div>
            </ul>
        </div>
        <img src="__IMG__/tb05.png" width="100%"/>
        
        <ul class="art_con">
			<a href="{:U('News/infordet')}">
				<li class="art_conli"> <img src="__IMG__/art_tb1.png" class="bk">
                    <div class="art_conlidet">
                    <p class="art_conlitop">苦瓜主要病害的危害及防治</p>
                    <p class="art_conlitxt">苦瓜在栽培过程中，容易发生炭疽病、白粉病和枯萎病，若防治不...</p>
                    </div>
                    <p class="art_conlitime">09-05 15:04<span>新闻来源：中国农村网</span><b>已有225人浏览</b></p>
                </li>
            </a>
            <div class="clear"></div>
		</ul>
            
      	<div style="min-height:70px;"></div>
		
    </div>
</block>
