<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>农医问药app-资讯</title>
<link type="text/css" rel="stylesheet" href="css/nywy.css" />
</head>

<body>
	<div class="box">
    	<div class="head">
        	<a href="#"><span><img src="images/return.png"></span></a>
			<h3>资讯</h3>
        </div>
        
        <div class="poit_con">
        	<h2>苦瓜主要病害的危害及防治</h2>
            <p class="poit_contime"><span>发布时间：2015-09-05 15:04</span> 浏览次数：58</p>
            <p class="poit_contop">苦瓜在栽培过程中，容易发生炭疽病、白粉病和枯萎病，若防治不及时，会使苦瓜生长不良而导致减产。下面介绍苦瓜主要病害的发生及防治方法：</p>
            <p class="poit_contxt"><b>炭疽病</b><br /><br />

　　苦瓜炭疽病属真菌性病害，从苗期到生长后期都会发生，特别是在高温多雨的6月～9月发生严重。苦瓜的叶、蔓和果实都会感染病害。叶上的病斑初呈黄白色，圆形或不规则形，以后变成褐色或黑色的干型病斑，往往有同心轮纹，容易干枯裂开，病斑增多后叶片枯萎。蔓上的病斑呈长圆形，稍凹陷，初呈水渍状淡黄色，后变深褐色。<br />
<br />
　　病斑若继续扩展到围绕茎蔓一周，便使茎蔓枯萎。果实感染病害后，先在表面产生白色圆形凹斑，似针头大小，后扩大变成暗褐色，最后变黑褐色着生黑色小粒。病斑不深入果肉，中央常裂开，在潮湿情况下分泌粉红色粘状物。幼嫩果病害较少，其感病性随着果实的成长而增加，成熟果较容易染病。<br />
<br />
　　有效防治苦瓜炭疽病的措施有：<br />
<br />
　　1.选种及种子消毒。留种时应从无病果中选取种子，减少种子带菌。种植前先将种子放入52℃～56℃的温水中浸种25分钟～30分钟，能收到较好的杀菌效果。<br />
<br />
　　2.注意选地，高畦深沟。高温多湿是炭疽病发生的有利条件，因此栽培苦瓜应选择地势较高的田块。要高畦深沟，并注意排水，适当密植，疏剪老叶和病叶，使之通风透光，改变田间小气候，降低田间湿度。并且要合理施肥，使植株生长健壮，增强抗病力。<br />
<br />
　　3.药剂防治。苦瓜在幼果期和高温多雨天气容易发病，要连续喷药防病，每隔7天～10天喷1次50％多菌灵500倍～600倍药液，或用75％百菌清可湿性粉剂600倍～800倍液，或用1∶15∶150波尔多液进行防治。<br />
<br />
　　以上就是苦瓜主要病害的危害及防治，内容仅供大家参考了解。更多最新三农资讯、农药使用技术、农业技术支持及病虫害防治问题欢迎至中国农药第一网的<a href="#">病虫害防治</a>一栏查看。</p>

		<div class="poidet_qtfx"><div class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1442306018315"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
        


        </div>
        
        
        

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</body>
</html>
