<extend name="Layout:ly1" />

<block name="body">
	<div class="box_1">
    	<div class="head">
        	<a href="#"><span><img src="__IMG__/return.png"></span></a>
			<h3>农药百科</h3>
        </div>
        
        <div class="nTab">
            <div class="class_viewport">
                <div class="class_tab">
                    <div class="TabTitle">
                        <ul id="myTab0" style="transform: translateY(0px); -webkit-transform: translateY(0px);">
                            <li class="active" onClick="nTabs(this,0)"><a href="#" class="class_bjl1">杀虫剂</a></li>
                            <li class="normal" onClick="nTabs(this,1)"><a href="#" class="class_bjl2">杀菌剂</a></li>
                            <li class="normal" onClick="nTabs(this,2)"><a href="#" class="class_bjl3">除草剂</a></li>
                            <li class="normal" onClick="nTabs(this,3)"><a href="#" class="class_bjl4">杀螨剂</a></li>
                            <li class="normal" onClick="nTabs(this,4)"><a href="#" class="class_bjl5">调节剂</a></li>
                            <li class="normal" onClick="nTabs(this,5)"><a href="#" class="class_bjl6">叶面肥</a></li>
                            <li class="normal" onClick="nTabs(this,6)"><a href="#" class="class_bjl7">其它</a></li>                         
                        </ul>
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content0">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="{:U('Tools/nybkdet')}"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="{:U('Tools/nybkdet')}">毒死蜱</a></li>
                                <li><a href="{:U('Tools/nybkdet')}">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content1">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content2">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content3">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content4">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content5">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <div class="class_content" id="myTab0_Content6">
                    <div class="class_content_wrapper">
                        <div class="class_div cur">
                            <a href="#"><h4>有机磷类</h4></a>
                            <ul>
                                <li><a href="#">毒死蜱</a></li>
                                <li><a href="#">丙溴磷</a></li>
                                <li><a href="#">三唑磷</a></li>
                                <li><a href="#">二嗪磷</a></li>
                                <li><a href="#">稻丰散</a></li>
                                <li><a href="#">辛硫磷</a></li>
                                <li><a href="#">马拉硫磷</a></li>
                                <li><a href="#">杀螟硫磷</a></li>
                                <li><a href="#">倍硫磷</a></li>
                                <li><a href="#">喹硫磷</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>氨基甲酸酯类</h4></a>
                            <ul>
                                <li><a href="#">甲萘威</a></li>
                                <li><a href="#">异丙威</a></li>
                                <li><a href="#">速灭威</a></li>
                                <li><a href="#">仲丁威</a></li>
                                <li><a href="#">抗蚜威</a></li>
                                <li><a href="#">克百威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>拟除虫菊酯类</h4></a>
                            <ul>
                                <li><a href="#">氯氰菊酯</a></li>
                                <li><a href="#">顺式氯氰菊酯</a></li>
                                <li><a href="#">高效氯氰菊酯</a></li>
                                <li><a href="#">氰戊菊酯</a></li>
                                <li><a href="#">S-氰戊菊酯</a></li>
                                <li><a href="#">溴氰菊酯</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>沙蚕毒</h4></a>
                            <ul>
                                <li><a href="#">杀虫双</a></li>
                                <li><a href="#">杀虫单</a></li>
                                <li><a href="#">杀螟丹</a></li>
                                <li><a href="#">杀虫环</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>苯甲酰脲类</h4></a>
                            <ul>
                                <li><a href="#">灭幼脲</a></li>
                                <li><a href="#">杀铃脲</a></li>
                                <li><a href="#">氟铃脲</a></li>
                                <li><a href="#">除虫脲</a></li>
                                <li><a href="#">氟啶脲</a></li>
                                <li><a href="#">噻嗪酮</a></li>
                                <li><a href="#">灭蝇胺</a></li>
                                <li><a href="#">丁醚脲</a></li>
                                <li><a href="#">吡丙醚</a></li>
                                <li><a href="#">虱螨脲</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>激素类</h4></a>
                            <ul>
                                <li><a href="#">虫酰肼</a></li>
                                <li><a href="#">甲氧虫酰肼</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>新烟碱类</h4></a>
                            <ul>
                                <li><a href="#">吡虫啉</a></li>
                                <li><a href="#">啶虫脒</a></li>
                                <li><a href="#">噻虫嗪</a></li>
                                <li><a href="#">烯啶虫胺</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>有机氯</h4></a>
                            <ul>
                                <li><a href="#">硫丹</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>其他合成</h4></a>
                            <ul>
                                <li><a href="#">氟虫腈</a></li>
                                <li><a href="#">虫螨腈</a></li>
                                <li><a href="#">吡蚜酮</a></li>
                                <li><a href="#">茚虫威</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>抗生素</h4></a>
                            <ul>
                                <li><a href="#">阿维菌素</a></li>
                                <li><a href="#">甲氨基阿维菌素甲酸盐</a></li>
                                <li><a href="#">多杀霉素</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>植物源杀虫剂</h4></a>
                            <ul>
                                <li><a href="#">鱼藤酮</a></li>
                                <li><a href="#">藜芦碱</a></li>
                                <li><a href="#">烟碱</a></li>
                            </ul>
                        </div>
                        <div class="class_div cur">
                            <a href="#"><h4>微生物源</h4></a>
                            <ul>
                                <li><a href="#">苏云金杆菌</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </div>

			<div class="clear"></div>
            </div>
        </div>
    </div>
</block>