<extend name="Layout:ly1" />

<block name="body">
	<div class="box_1">
    	<div class="head">
        	<a href="#"><span><img src="__IMG__/return.png"></span></a>
			<h3>毒死蜱</h3>
        </div>
        
        <div class="nybk_nr">
        	<div>
            	<p class="nybk_nr_title">毒死蜱</p>
                <p class="nybk_nr_txt"><b>化学名称：</b>O,O-二乙基-O-(3,5,6-三氯-2-吡啶基)硫代磷酸，白色结晶，具有轻微的硫醇味。非内吸性广谱杀虫、杀螨剂，在土地中挥发性较高。<br />
                    <b>理化性质：</b>原药为白色结晶，稍有硫醇气味，溶点42.5-43℃，25℃时饱和蒸汽压2.4X10-3Pa，25℃时水中的溶解度为2mg/L，丙醇中为650g/L，苯中为190g/L，二甲苯中为400mg/L，甲醇中为45g/L。<br />
                    <b>毒性：</b>急性口服LD50，雄大鼠163mg/kg；雌大鼠135mg/kg。对免的急性皮LD50约为2000mg/kg； 毒死蜱属中等杀虫剂。对眼睛有轻度刺激，对皮肤有明显刺激，长时间接触会产生灼伤。在试验剂量下未见致畸、致突变、致癌作用。在动物体内能很快解毒，对鱼和水生动物毒性较高，对蜜蜂有毒。<br />
                    <b>剂型：</b>2％神农灭蟑螂胶饵，乐斯本40.7%乳油，杀死虫蓝珠14%颗粒剂。
                </p>
                <div>
					<ul class="nybk_list_nav">
                        <a><li class="nybk_bj">作用特点</li></a>
                        <a><li class="nybk_r">应用技术</li></a>
                        <a><li>注意事项</li></a>
                        <div class="clear"></div>
                    </ul>
                    <p class="nybk_nr_txt">毒死蜱具有触杀、胃毒和熏蒸作用。在叶片上残留期不长，但在土壤中残留期较长，因此对地下害虫防治效果较好，对烟草有药害。</p> 
                </div>
            </div>
        	<div class="clear"></div>
        </div>
        
        <div style="min-height:70px;"></div>
    
    </div>

</block>
