<extend name="Layout:ly2" />

<block name="body">
	<div class="box_1">
        
		<form>
        <div class="query_top">
        	<img src="__IMG__/tb07.png" />
            <ul class="fl">
            	<a href="#"><li class="fl_xz">农药</li></a>
                <a href="#"><li>肥料</li></a>
                <a href="#"><li>微生物</li></a>
            </ul>
        </div>
        
        <div class="query">
			<ul class="query_list_nav">
				<a><li class="query_bj">成分</li></a>
				<a><li class="query_r">生产厂家</li></a>
				<a><li class="query_r">登记证号</li></a>
                <a><li>按作物</li></a>
			<div class="clear"></div>
			</ul>
		</div>
        <div>
			<input name="" type="text"  class="query_txt" value="请输入成分或生产厂家或登记证号" />
		</div>
		<button type="submit" class="query_btn">查询</button>
        </form>
        <div style="min-height:70px;"></div>
    </div>
</block>