<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>农医问药app-田园圈</title>
<link type="text/css" rel="stylesheet" href="css/nywy.css" />
</head>

<body>
	<div class="box">
    	<div class="head">
        	<a href="#"><span><img src="images/return.png"></span></a>
			<h3>田园圈<span>我来说两句</span></h3>
        </div>
        
        <div class="garden">
        	<img src="images/tb07.png" />
        </div>
        
        <div class="garden_list">
      		<a href="#">
  			<ul>
            	<li class="garden_t"><img src="images/defaultx20.jpg" class="tx" /><span>阿涛fsgweg</span><img src="images/tb03.png" class="garden_icon" /><span>23分钟前</span></li>
                <li class="garden_p">小麦田用草药二钾四氯钠，麦田旁边种有莴苣有没有影响？</li>
                <li class="posit"><img  src="images/position_icon.png" width="25" class="poi_icon"/>河南省郑州市中牟县</li>
                <li class="garden_b">
                	<a><img src="images/praise_icon.png" width="25" class="b_icon" /><span>赞(0)</span></a><a><img src="images/share_icon.png" width="25" class="b_icon b_icon_1" /><span>分享</span></a><a style="border-right:none"><img src="images/my_answer_icon.png"  width="25" class="b_icon"/><span>评论(0)</span></a>
                </li>
            </ul>
            </a>
            <div class="clear"></div>
      </div>
      
      <div class="garden_list">
      		<a href="#">
  			<ul>
            	<li class="garden_t"><img src="images/defaultx20.jpg" class="tx" /><span>阿涛fsgweg</span><img src="images/tb04.png" class="garden_icon" /><span>23分钟前</span></li>
                <li class="garden_img"><img src="images/tb05.png" width="32%"/><img src="images/tb05.png"  width="32%" class="jj"/><img src="images/tb05.png"  width="32%"/></li>
                <li class="garden_p">小麦田用草药二钾四氯钠，麦田旁边种有莴苣有没有影响？</li>
                <li class="posit"><img  src="images/position_icon.png" width="25" class="poi_icon"/>河南省郑州市中牟县</li>
                <li class="garden_b">
                	<a><img src="images/praise_icon.png" width="25" class="b_icon" /><span>赞(0)</span></a><a><img src="images/share_icon.png" width="25" class="b_icon b_icon_1" /><span>分享</span></a><a style="border-right:none"><img src="images/my_answer_icon.png"  width="25" class="b_icon"/><span>评论(0)</span></a>
                </li>
            </ul>
            </a>
            <div class="clear"></div>
      </div>
      
      <div class="garden_list">
      		<a href="#">
  			<ul>
            	<li class="garden_t"><img src="images/defaultx20.jpg" class="tx" /><span>阿涛fsgweg</span><img src="images/tb04.png" class="garden_icon" /><span>23分钟前</span></li>
                <li class="garden_img1"><img src="images/tb05.png" width="100%"/></li>
                <li class="garden_p">小麦田用草药二钾四氯钠，麦田旁边种有莴苣有没有影响？</li>
                <li class="posit"><img  src="images/position_icon.png" width="25" class="poi_icon"/>河南省郑州市中牟县</li>
                <li class="garden_b">
                	<a><img src="images/praise_icon.png" width="25" class="b_icon" /><span>赞(0)</span></a><a><img src="images/share_icon.png" width="25" class="b_icon b_icon_1" /><span>分享</span></a><a style="border-right:none"><img src="images/my_answer_icon.png"  width="25" class="b_icon"/><span>评论(0)</span></a>
                </li>
            </ul>
            </a>
            <div class="clear"></div>
      </div>
      
      <div class="garden_list">
      		<a href="#">
  			<ul>
            	<li class="garden_t"><img src="images/defaultx20.jpg" class="tx" /><span>阿涛fsgweg</span><img src="images/tb04.png" class="garden_icon" /><span>23分钟前</span></li>
                <li class="garden_img"><img src="images/tb05.png" width="48%"/><img src="images/tb05.png" width="48%" class="jj_1"/></li>
                <li class="garden_p">小麦田用草药二钾四氯钠，麦田旁边种有莴苣有没有影响？</li>
                <li class="posit"><img  src="images/position_icon.png" width="25" class="poi_icon"/>河南省郑州市中牟县</li>
                <li class="garden_b">
                	<a><img src="images/praise_icon.png" width="25" class="b_icon" /><span>赞(0)</span></a><a><img src="images/share_icon.png" width="25" class="b_icon b_icon_1" /><span>分享</span></a><a style="border-right:none"><img src="images/my_answer_icon.png"  width="25" class="b_icon"/><span>评论(0)</span></a>
                </li>
            </ul>
            </a>
            <div class="clear"></div>
      </div>
        

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</body>
</html>
