<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('WEB_SITE_TITLE')}</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/nywy.css" />
	<block name="head"></block>
</head>
<body>
    <block name="header"></block>
    <div class="box">
		<block name="body"></block>
	    <block name="footer">
	        <div class="foot">
	            <div class="footer">
	                <ul>
	                    <a href="#"><li><img alt="首页" src="__IMG__/main.png"></li></a>
	                    <a href="#"><li><img src="__IMG__/infor.png"></li></a>
	                    <a href="#"><li><img src="__IMG__/answer_on.png"></li></a>
	                    <a href="#"><li><img src="__IMG__/found.png"></li></a>
	                    <a href="#"><li><img src="__IMG__/mine.png"></li></a>
	                </ul>
	            </div>
	        </div>
	    </block>
    </div>
</body>
</html>
