<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>农医问药app-搜索提问</title>
<link type="text/css" rel="stylesheet" href="css/nywy.css" />
</head>

<body>
	<div class="box">
    	<div class="head">
        	<a href="#"><span><img src="image/return.png"></span></a>
			<h3>搜索提问</h3>
        </div>
        
        <form class="form_search">
        	<p class="search_ans">
				<input type="hidden" name="" value="touch">
                <input name="" value="输入成分、适用作物、产品编号、防治病虫等" type="text" class="search_ans_input">
                <input name="submit" type="image" value=" " class="search_ans_btn" src="image/search_btn.png">
			</p>
        </form>
        

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</body>
</html>
