<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width">
<title>农医问药app-植保方案(2)</title>
<link type="text/css" rel="stylesheet" href="css/nywy.css" />
</head>

<body>
	<div class="box">
    	<div class="head">
        	<a href="#"><span><img src="image/return.png"></span></a>
			<h3>植保方案</h3>
        </div>

            <div class="zbfa">
                <ul>
                    <a href="#"><li> <img src="image/class_tp1.png" class="select_crop_icon">图文详情 </li></a>
                    <a href="#"><li><img src="image/class_tp2.png" class="select_crop_icon">植保方案</li></a>
                    <a href="#"><li><img src="image/class_tp3.png" class="select_crop_icon">番茄专区</li></a>
                    <a href="#"><li><img src="image/class_tp4.png" class="select_crop_icon">黄瓜专区</li></a>
                    <a href="#"><li><img src="image/class_more.png" class="select_crop_icon">更多专区</li></a>
                </ul>
                <div class="clear"></div>
            </div>
            
            <div class="zbfa_nav">
                <ul class="zbfa_list_nav">
                    <a><li class="zbfa_bj">病害</li></a>
                    <a><li class="zbfa_r">虫害</li></a>
                    <a><li>草害</li></a>
                    <div class="clear"></div>
                </ul> 
            </div>
            
            <div class="txt_list">
            	<div class="txt_nav">
                	<a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                    <a href="#">稻曲病</a>
                    <a href="#">细菌性谷枯病</a>
                    <a href="#">条纹叶枯病</a>
                    <a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                    <a href="#">稻曲病</a>
                    <a href="#">细菌性谷枯病</a>
                    <a href="#">条纹叶枯病</a>
                    <a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                    <a href="#">稻曲病</a>
                    <a href="#">细菌性谷枯病</a>
                    <a href="#">条纹叶枯病</a>
                    <a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                    <a href="#">稻曲病</a>
                    <a href="#">细菌性谷枯病</a>
                    <a href="#">条纹叶枯病</a>
                    <a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                    <a href="#">稻曲病</a>
                    <a href="#">细菌性谷枯病</a>
                    <a href="#">条纹叶枯病</a>
                    <a href="#">白叶枯病</a>
                    <a href="#">病毒病</a>
                </div>
            	<div class="clear"></div>
            </div>
            
            
            
            <div style="min-height:70px;"></div>
            
            <div class="foot_nav">
            	<a>看图识病</a>
                <a class="select">文字列表</a>
            </div>
            
        
        

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</body>
</html>
