<extend name="Layout:ly1" />

<block name="body">
    <div class="box">
        <div class="hose">
            <center><img src="__IMG__/home.png" /></center>
        </div>

        <div class="hose_list">
            <ul>
                <a href="{:C('MAIN_WAP_URL')}">
                    <li>
                    <center><img src="__IMG__/home_tb01.png" /></center>农药第一网
                    </li>
                </a>
                <a href="{:U('Tools/plantcare')}">
                    <li>
                    <center><img src="__IMG__/home_tb05.png" /></center>植保方案
                    </li>
                </a>
                <a href="">
                    <li style="border-right:none">
                    <center><img src="__IMG__/home_tb06.png" /></center>施肥方案
                    </li>
                </a>
                <a href="{:U('Tools/query')}">
                    <li>
                    <center><img src="__IMG__/home_tb02.png" /></center>真假查询
                    </li>
                </a>
                <a href="{:U('Tools/nybklist')}">
                    <li>
                    <center><img src="__IMG__/home_tb03.png" /></center>农药百科
                    </li>
                </a>
                <a href="{:U('News/inforlist')}">
                    <li style="border-right:none">
                    <center><img src="__IMG__/home_tb04.png" /></center>农药资讯
                    </li>
                </a>
            </ul>
        </div>
        <div style="min-height:300px;"></div>
    </div>
</block>